@font-face {
    font-family: 'Noto Sans Bengali';
    src: url(../fonts/Noto_Sans_Regular.ttf);
    font-weight:400;
}
@font-face {
    font-family: 'Noto Sans Bengali';
    src: url(../fonts/Noto_Sans_Medium.ttf);
    font-weight:500;
}

@font-face {
    font-family: 'Noto Sans Bengali';
    src: url(../fonts/Noto_Sans_Bold.ttf);
    font-weight:700;
}

$font-family-base: 'Noto Sans Bengali',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
