.tab-content{
    padding:1rem 0;
    >*{
        display:none;
    }
    >.active{
        display:block;
    }

}
.tab-navigation{
    button,a{
        border:none;
        background:$gray-200;
        outline:none;
        margin-right:0.3rem;
        &:last-child{
            margin-right:0;
        }
        &.active{
            background:$primary-color;
            color:white;
        }
    }
}