$primary-color : #6f42c1;
.search-box{
    width: 100%;
    position: relative;
    input{
        width: 100%;
        font-size: 2.2rem;
        font-weight: 600;
        color: $primary-color;
        border: 2px solid $primary-color;
        border-radius: 10px;
        padding: 5px 50px 5px 30px;
        appearance: none !important;
        outline: none !important;
        &:focus{
            -webkit-box-shadow: 0px -1px 13px -10px rgba(0, 0, 0, 1);
            -moz-box-shadow: 0px -1px 13px -10px rgba(0, 0, 0, 1);
            box-shadow: 0px -1px 13px -10px rgba(0, 0, 0, 1);
        }
        
    }
}
.src-close-btn{
position: absolute;
right: 11px;
top: 11px;
font-size: 2rem;
}
.result-box{
    max-height: 400px;
    overflow-y: auto; 
}
.each-result{
    border-bottom: 1.5px solid $primary-color;
}
.result-number{
    margin: 8px 15px;
    font-weight: 500;
}