// by the name of ALLAH 
.tag{
    background: #6f42c1;
    color: white;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    padding: 0.2rem 0.5rem;
    border-radius: 3rem;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;

    &:hover{
        text-decoration: underline;
        color: #FFF;
    }
}